In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
bank_note_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/training_set_label.csv" )

In [3]:
bank_note_data.head()

     VWTI     SWTI     CWTI        EI  Class
0  2.2634  -4.4862   3.6558 -0.612510      0
1  3.2718   1.7837   2.1161  0.613340      0
2 -3.9411 -12.8792  13.0597 -3.312500      1
3  0.5195  -3.2633   3.0895 -0.984900      0
4  2.5698  -4.4076   5.9856  0.078002      0

In [4]:
bank_note_data.isnull().sum()

VWTI     0
SWTI     0
CWTI     0
EI       0
Class    0
dtype: int64

In [5]:
bank_note_data.dtypes

VWTI     float64
SWTI     float64
CWTI     float64
EI       float64
Class      int64
dtype: object

In [7]:
bank_note_data.describe()

              VWTI         SWTI         CWTI           EI        Class
count  1096.000000  1096.000000  1096.000000  1096.000000  1096.000000
mean      0.448500     1.780643     1.493533    -1.157454     0.445255
std       2.852623     5.922621     4.375655     2.084983     0.497221
min      -7.036400   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.790850    -2.125200    -1.574975    -2.246975     0.000000
50%       0.540430     2.205850     0.671900    -0.569190     0.000000
75%       2.835350     6.793925     3.574450     0.399980     1.000000
max       6.563300    12.730200    17.927400     2.449500     1.000000

In [8]:
bank_note_data.shape

(1096, 5)

In [12]:
bank_note_data["Class"].value_counts

<bound method IndexOpsMixin.value_counts of 0       0
1       0
2       1
3       0
4       0
       ..
1091    0
1092    0
1093    0
1094    0
1095    0
Name: Class, Length: 1096, dtype: int64>

## Splitting the data

In [13]:
X = bank_note_data.drop("Class", axis=1)
y = bank_note_data.Class

In [15]:
print("The shape of X is: ", X.shape)
print("The shape of y is: ", y.shape)

The shape of X is:  (1096, 4)
The shape of y is:  (1096,)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [18]:
print("The shape of X_train is: ", X_train.shape)
print("The shape of y_train is: ", y_train.shape)
print("The shape of X_test is: ", X_test.shape)
print("The shape of y_test is: ", y_test.shape)

The shape of X_train is:  (876, 4)
The shape of y_train is:  (876,)
The shape of X_test is:  (220, 4)
The shape of y_test is:  (220,)

## Defining the model

In [30]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(2, input_shape = (4, ), activation="sigmoid")
])

c:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_5 (Dense)                 │ (None, 2)              │            10 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 10 (40.00 B)

 Trainable params: 10 (40.00 B)

 Non-trainable params: 0 (0.00 B)

## Compiling the model

In [32]:
model.compile(optimizer= "adam",loss="sparse_categorical_crossentropy", metrics=["accuracy"] )

## Fitting the model

In [33]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5581 - loss: 2.8546
Epoch 2/5
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5829 - loss: 2.4570
Epoch 3/5
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5567 - loss: 2.3951
Epoch 4/5
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5759 - loss: 2.1642
Epoch 5/5
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5924 - loss: 2.0193