In [11]:
import tensorflow as tf

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Boston_Housing/Training_set_boston.csv")

In [14]:
data.head()

       CRIM    ZN  INDUS  CHAS     NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  15.02340   0.0  18.10   0.0  0.6140  ...  666.0     20.2  349.48  24.91  12.0
1   0.62739   0.0   8.14   0.0  0.5380  ...  307.0     21.0  395.62   8.47  19.9
2   0.03466  35.0   6.06   0.0  0.4379  ...  304.0     16.9  362.25   7.83  19.4
3   7.05042   0.0  18.10   0.0  0.6140  ...  666.0     20.2    2.52  23.29  13.4
4   0.72580   0.0   8.14   0.0  0.5380  ...  307.0     21.0  390.95  11.28  18.2

[5 rows x 14 columns]

In [15]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [16]:
data.describe

<bound method NDFrame.describe of          CRIM    ZN  INDUS  CHAS     NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0    15.02340   0.0  18.10   0.0  0.6140  ...  666.0     20.2  349.48  24.91  12.0
1     0.62739   0.0   8.14   0.0  0.5380  ...  307.0     21.0  395.62   8.47  19.9
2     0.03466  35.0   6.06   0.0  0.4379  ...  304.0     16.9  362.25   7.83  19.4
3     7.05042   0.0  18.10   0.0  0.6140  ...  666.0     20.2    2.52  23.29  13.4
4     0.72580   0.0   8.14   0.0  0.5380  ...  307.0     21.0  390.95  11.28  18.2
..        ...   ...    ...   ...     ...  ...    ...      ...     ...    ...   ...
399   0.17120   0.0   8.56   0.0  0.5200  ...  384.0     20.9  395.67  18.66  19.5
400   0.29916  20.0   6.96   0.0  0.4640  ...  223.0     18.6  388.65  13.00  21.1
401   0.01501  80.0   2.01   0.0  0.4350  ...  280.0     17.0  390.94   5.99  24.5
402  11.16040   0.0  18.10   0.0  0.7400  ...  666.0     20.2  109.85  23.27  13.4
403   0.22876   0.0   8.56   0.0  0.5200  ...  384.0     20.9   70.80  10.63  18.6

[404 rows x 14 columns]>

In [17]:
X = data.drop("MEDV", axis=1)
y = data.MEDV

In [18]:
X.shape

(404, 13)

In [19]:
y.shape

(404,)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
from tensorflow.keras import Sequential

In [23]:
from tensorflow.keras.layers import Dense

In [24]:
from numpy.random import seed

In [27]:
n_features = X.shape[1]
print(n_features)

13

## Defining the model

In [30]:
model = Sequential()
model.add(Dense(10, activation="relu", input_shape=(n_features,)))
model.add(Dense(8, activation="relu"))
model.add(Dense(1))

c:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

## Compiling the model

In [31]:
from tensorflow.keras.optimizers import RMSprop
optimizer = RMSprop(0.01)

In [32]:
model.compile(loss = "mean_squared_error", optimizer= optimizer)

## Fitting the model

In [33]:
seed_value = 42
seed(seed_value)

In [34]:
import os
os.environ['PYTHONHASHSEED'] = str(seed_value)
import random
random.seed(seed_value)

tf.random.set_seed(seed_value)

model.fit(X_train, y_train, epochs=10, batch_size=30, verbose=1)

Epoch 1/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 4s 8ms/step - loss: 4561.2075
Epoch 2/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 120.1642
Epoch 3/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 116.3261
Epoch 4/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 119.5652
Epoch 5/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 116.4426
Epoch 6/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 104.0969
Epoch 7/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 93.3618
Epoch 8/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 77.8932
Epoch 9/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 70.7619
Epoch 10/10
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 73.5486

In [35]:
model.evaluate(X_test, y_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 72.4260

73.7079849243164

In [36]:
model.predict(X_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 94ms/step

array([[27.550377],
       [29.194906],
       [29.756838],
       [17.26307 ],
       [19.134596],
       [28.538311],
       [31.48497 ],
       [31.525454],
       [28.996618],
       [31.599552],
       [25.673023],
       [27.579378],
       [27.212696],
       [26.359156],
       [26.25223 ],
       [26.37227 ],
       [21.144756],
       [26.02073 ],
       [19.450272],
       [29.724895],
       [27.14938 ],
       [29.710144],
       [28.17733 ],
       [27.736065],
       [27.410385],
       [26.313269],
       [14.90874 ],
       [25.923662],
       [29.488062],
       [24.066843],
       [29.649422],
       [28.777697],
       [23.303234],
       [33.924747],
       [28.091284],
       [30.640507],
       [27.813776],
       [33.776417],
       [29.156958],
       [24.29884 ],
       [28.225868],
       [30.54607 ],
       [30.831112],
       [28.408873],
       [28.625664],
       [26.543365],
       [29.27723 ],
       [31.79486 ],
       [23.18863 ],
       [28.334051],
       [19.454653],
       [23.985918],
       [27.22445 ],
       [30.943487],
       [17.8609  ],
       [29.414568],
       [24.07369 ],
       [25.87603 ],
       [30.900084],
       [27.430143],
       [20.327818],
       [30.87702 ],
       [30.873808],
       [28.056046],
       [12.101036],
       [27.028046],
       [26.65675 ],
       [19.474121],
       [30.011295],
       [33.926334],
       [30.439318],
       [26.790722],
       [31.916624],
       [29.340284],
       [26.377195],
       [25.486563],
       [25.802412],
       [28.334267],
       [27.747484],
       [27.588703],
       [27.089905]], dtype=float32)