In [1]:
import tensorflow as tf

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Boston_Housing/Training_set_boston.csv")

In [6]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,15.02340,0.0,18.10,0.0,0.6140,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91,12.0
1,0.62739,0.0,8.14,0.0,0.5380,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47,19.9
2,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83,19.4
3,7.05042,0.0,18.10,0.0,0.6140,6.103,85.1,2.0218,24.0,666.0,20.2,2.52,23.29,13.4
4,0.72580,0.0,8.14,0.0,0.5380,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2

In [8]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [9]:
data.describe

<bound method NDFrame.describe of          CRIM    ZN  INDUS  CHAS     NOX     RM   AGE     DIS   RAD    TAX
0    15.02340   0.0  18.10   0.0  0.6140  5.304  97.3  2.1007  24.0  666.0  \
1     0.62739   0.0   8.14   0.0  0.5380  5.834  56.5  4.4986   4.0  307.0
2     0.03466  35.0   6.06   0.0  0.4379  6.031  23.3  6.6407   1.0  304.0
3     7.05042   0.0  18.10   0.0  0.6140  6.103  85.1  2.0218  24.0  666.0
4     0.72580   0.0   8.14   0.0  0.5380  5.727  69.5  3.7965   4.0  307.0
..        ...   ...    ...   ...     ...    ...   ...     ...   ...    ...
399   0.17120   0.0   8.56   0.0  0.5200  5.836  91.9  2.2110   5.0  384.0
400   0.29916  20.0   6.96   0.0  0.4640  5.856  42.1  4.4290   3.0  223.0
401   0.01501  80.0   2.01   0.0  0.4350  6.635  29.7  8.3440   4.0  280.0
402  11.16040   0.0  18.10   0.0  0.7400  6.629  94.6  2.1247  24.0  666.0
403   0.22876   0.0   8.56   0.0  0.5200  6.405  85.4  2.7147   5.0  384.0

     PTRATIO       B  LSTAT  MEDV
0       20.2  349.48  24.91  12.0
1       21.0  395.62   8.47  19.9
2       16.9  362.25   7.83  19.4
3       20.2    2.52  23.29  13.4
4       21.0  390.95  11.28  18.2
..       ...     ...    ...   ...
399     20.9  395.67  18.66  19.5
400     18.6  388.65  13.00  21.1
401     17.0  390.94   5.99  24.5
402     20.2  109.85  23.27  13.4
403     20.9   70.80  10.63  18.6

[404 rows x 14 columns]>

In [10]:
X = data.drop("MEDV", axis=1)
y = data.MEDV

In [11]:
X.shape

(404, 13)

In [12]:
y.shape

(404,)

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)